extends layout

block content
  div.container
    div.row
       div.col-sm-2
       div.col-sm-8
         h1.center-block Login
         form(method="POST" autocomplete="false" action="/users/login" id="login" role='form' data-type='validator')
           div.form-group
             label(for="email") Email:
             input.form-control(name="email" autocomplete="false" value="" type="email" required)
           div.form-group
             label(form="password") Password:
             input.form-control(name="password" value="" type='password' required)
           button.btn.btn-info(type="submit") Login
           a.btn.btn-link(href='/users/signup') Signup!
    .row
      .col-sm-2
      .col-sm-8
        br
        a.btn.btn-primary(href='/users/auth/facebook') Login With Facebook
  script(src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js")
  script.
    $('#login').validator();
