extends layout

block content
  .container
  if !user.password
    .row
      .col-sm-2
      .col-sm-8
        h4.center-block Add Password
        form(method="POST" autocomplete="false" action="/updatepw" id="pwu" role="form" data-toggle="validator")
          .form-group
            label(form="password") Password:
            input.form-control(name="password" value="" type="password" required)
          .form-group
            label(form="password") Re-type Password:
            input.form-control(name="password" value="" type="password" required)
          button.btn.btn-info(type="submit") Submit Change
  else
    .row
      .col-sm-2
      .col-sm-8
        h4.center-block Change Your Password
        form(method="POST" autocomplete="false" action="/updatepw" id="pwu" role="form" data-toggle="validator")
          .form-group
            label(for="password" autocomplete='false') Current Password:
            input.form-control(name="email" value="" type="password" required)
          .form-group
            label(form="password") New Password:
            input.form-control(name="password" value="" type="password" required)
          .form-group
            label(form="password") Re-type New Password:
            input.form-control(name="password" value="" type="password" required)
          button.btn.btn-info(type="submit") Submit Change
  script.
   $('#pwu').validator()
