extends layout

block content
  div.container
    div.row
       div.col-sm-2
       div.col-sm-8
         h1.center-block Signup
         form(method="POST" action="/users/signup")
           div.form-group
             label(for="username") Name:
             input.form-control(name="name")
           div.form-group
             label(for="email") Email:
             input.form-control(name="email")
           div.form-group
             label(for="password") Password:
             input.form-control(name="password")
           div.form-group
             label(for="password") Confirm Password:
             input.form-control
           button.btn.btn-info(type="submit") Signup!
           button.btn.btn-link Login
